<div class="panel panel-default">
  <div class="panel-heading">忘记密码</div>
  <div class="panel-body">
    <%= form_tag controller: "sessions", action: "send_email" do %>   

      <div class='col-md-5'>
        <label>
    会向你的邮箱发送一封邮件，你可以点击里面的链接更改密码
      </label>
      <%= text_field_tag :email, params[:email],placeholder:"输入邮箱", class: 'form-control'%>
      <br>
      <%= submit_tag '提交',class: "btn btn-info " %> 
    </div>
  <% end %>
</div>
</div>

