<div class="widget category-widget">
  <h4 class="title">友情链接</h4>
  <div class="friend_links">
    <% user.friend_links.each do |friend| %>
      <%= link_to friend.name,friend.link, target: 'blank'%>
      <br>
    <% end %>
  </div>
</div>
