<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<div class="panel panel-default"> 
  <ul class="nav nav-pills nav-stacked"> 

   <li class="active"><%= link_to " 发布公告",'#',class:"fa fa-bullhorn" %></li>
   <li class= "" ><%= link_to " 历史公告", '#',class:"fa fa-building-o" %></li>
   <li class="">  <%= link_to " 通知","#",class:"fa fa-address-card"%></li> 
   <li class=""> <%= link_to " 限制","#",class:"fa fa-qrcode"%></li>
   <li class=""><%= link_to " 分类","#",class:"fa fa-cube"%></li>
   <li class=""><%= link_to " 添加管理员","#",class:"fa fa-gear"%></li>
 </ul> 
</div> 

</body>
</html>

