<section class="content-wrap">
  <div class="container">
    <div class="row">
      <%= render "share/topics"%>
      <aside class="col-md-4 sidebar">
      <%= render "share/categories",categories: all_categories%>
        <!--  -->
      </aside>
    </div>
  </div>
</section>