 <header class="main-header"  style='background-image: url(https://d3cbihxaqsuq0s.cloudfront.net/images/48545960_xl.jpg)'>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- start logo -->
       <%= user_avatar_tag current_user,:md2 if current_user%>
        <!-- end logo -->
        <h2 class="blog-title">梦里不知身是客</h2>
        <img src="https://d3cbihxaqsuq0s.cloudfront.net/images/35514164_xl.jpg" alt="博客" class="hide">
      </div>
    </div>
  </div>
</header>
<!-- https://farm3.staticflickr.com/2942/33841373006_c035b9ef80_k.jpg
https://d3cbihxaqsuq0s.cloudfront.net/images/48545960_xl.jpg
https://farm3.staticflickr.com/2811/33823326832_059359647d_k.jpg
https://images.unsplash.com/photo-1433477155337-9aea4e790195?ixlib=rb-0.3.5&q=99&fm=jpg&crop=entropy&cs=tinysrgb&w=2048&fit=max&s=f14612dbe6fe16aa41fcfa0b6df48be0

https://farm5.staticflickr.com/4191/34378176550_faa7d67b12_k.jpg
https://farm5.staticflickr.com/4301/36165186121_2e32e53810_k.jpg
 -->